<h1 class="title has-text-centered">Items</h1>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, item %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>